<!doctype html>
<title>BeFlowTkd</title>

<form method="post" action="/predict/">
	<div>
		<textarea rows="20" cols="150" name="json_move">
			Enter the json string of the move and hit the button below to predict the move
		</textarea>
	</div>
	<div>
		<button type="submit">Predict</button>
	</div>
</form>

{% if prediction %}
  <p>The prediction is <b> {{ prediction }} </b> with <b> {{ confidence }}%</b> confidence !</p>
{% endif %}